/* Site-Wide */
@font-face {
    font-family: "MuseoSans";
    src: url(fonts/MuseoSans_500.otf);
}

:root {
    --CREAM: rgb(228,224,213);
    --LIGHTBLUE: rgb(158, 175, 191);
    --MEDBLUE: rgb(103, 122, 156);
    --DARKBLUE: rgb(66, 93, 120);
    --BLACK: rgb(44,43,46);
    --WHITE: rgb(255,255,255);
}

.dark-theme {
    --CREAM: rgb(28,28,27);
    --LIGHTBLUE: rgb(79,87,96);
    --MEDBLUE: rgb(52,61,78);
    --DARKBLUE: rgb(255,255,255);
    --BLACK: rgb(255,255,255);
    --WHITE: rgb(70, 69, 74);
}

* {
    font-family: MuseoSans;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 20px;
}

hr {
    margin-left: auto;
    margin-left: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

h2 {
    color: var(--DARKBLUE);
    font-size: xx-large;
}

a {
    text-decoration: none;
    color: var(--BLACK);
}

a:hover {
    color: var(--WHITE);
}

.top_line {
    margin-top: 1%;
}

.bot_line {
    margin-bottom: 1%;
}

/* Body */
body {
    background-color: var(--CREAM);
    line-height: 1.5;
}

.container {
    -webkit-animation: fadein 1200ms;
    display: grid;
    height: auto;
    width: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 1fr fit-content);
    gap: 10px;
}

/* Header */
.header {
    animation: slideInFromLeft 600ms ease-in;
    font-size: 200%;
    color: var(--BLACK);
    background-color: var(--MEDBLUE);
    grid-column-start: 1;
    grid-column-end: 5;
}

/* Navigation */
.nav {
    animation: slideInFromRight 800ms ease-in;
    font-weight: 600;
    border-radius: 6px;
    padding: 1%;
    background-color: var(--LIGHTBLUE);
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: right;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.scroll {
    color: var(--BLACK);
}

/* About */
.about {
    animation: slideInFromLeft 1000ms ease-in;
    display: grid;
    align-items: center;
    text-align: center;
    color: var(--BLACK);
    font-weight: bold;
    font-size: larger;
    background-color: var(--WHITE);
    grid-column-start: 1;
    grid-column-end: 3;
}

/* MainPhoto */
.pic {
    animation: slideInFromRight 1200ms ease-in;
    grid-column-start: 3;
    grid-column-end: 5;
    display: grid;
}

/* MainContent */
.main {
    font-size: large;
    padding: 1%;
    color: var(--BLACK);
    background-color: var(--WHITE);
    grid-column-start: 1;
    grid-column-end: 5;
}

/* Skills */
.skills {
    font-size: large;
    text-align: center;
    padding: 5%;
    color: var(--BLACK);
    background-color: var(--WHITE);
    grid-column-start: 1;
    grid-column-end: 3;
}

/* Contact */
#Contact {
    text-align: center;
    font-size: large;
    padding: 5%;
    color: var(--BLACK);
    background-color: var(--WHITE);
    grid-column-start: 3;
    grid-column-end: 5;
}

/* Footer */
.foot {
    font-weight: bold;
    padding: 5%;
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
    background-color: var(--WHITE);
}

#letsConnect {
    text-align: center;
}

/* Animations */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes slideInFromRight {
    0% {
      transform: translateX(15%);
    }
  
    100% {
      transform: translateX(0);
    }
  }

@keyframes slideInFromLeft {
0% {
    transform: translateX(-15%);
}

100% {
    transform: translateX(0);
}
}

/* Mobile */
@media only screen and (max-width: 845px){
    h2 {
        text-align: center;
    }
    .header {
        text-align: center;
        font-size: x-large;
    }
    .nav {
        display: none;
    }
    .about {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: bold;
        font-size: larger;
        grid-column-start: 1;
        grid-column-end: 5;
    }
    .pic {
        grid-column-start: 1;
        grid-column-end: 5;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .pic img {
        grid-column-start: 1;
    }

    .main {
        font-size: small;
        padding: 3%;
        color: var(--BLACK);
        background-color: var(--WHITE);
        grid-column-start: 1;
        grid-column-end: 5;
    }
    iframe {
        height: 20%;
    }
    .skills {
        font-size: smaller;
        grid-column-start: 1;
        grid-column-end: 5;
    }
    #Contact {
        text-align: center;
        font-size: smaller;
        grid-column-start: 1;
        grid-column-end: 5;
    }
}